body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.question {
  margin-bottom: 15px;
  text-align: left;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.back-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: #1e90ff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #00bfff;
}
